[submodule "helm/ci"]
	path = helm/ci
	url = https://github.com/UKHomeOffice/hocs-ci-infrastructure.git
	branch = main
[submodule "ci"]
	path = ci
	url = https://github.com/UKHomeOffice/hocs-ci-infrastructure.git
	branch = main
